
body {
  background-color: #2E2D2D;
  font-family: 'Zen Antique', serif;
}
h2 a {
  color: white;
  text-decoration: none;
  font-family: 'Zen Antique', serif;
  font-weight: 400;
  font-size: 60px;
}

.hr {
  width: 80%;
  margin-left: 10%;
  border-top: 2px solid white;
  margin-top: 10px;
}

img {
  width: 455.5px;
  height: 686px;
}

/* Media */
.media {
  background-color: #2e2d2d;
  height: auto;
  width: 100%;
  color: white;
}

.headshot-section {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.headshot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshot-container img {
  border: 5px solid white;
  border-radius: 1px;
}

.headshot-container a {
  font-weight: 550;
  width: 40%;
  height: 36px;
  line-height: 36px;
  background-color: #2E2D2D;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.headshot-container a:hover {
  border-radius: 18px;
  color: white;
  background-color: #2E2D2D;
  transition-duration: 100ms;
  border: 2px solid white;
}

.media-section {
    width: 80%;
    height: 50vh;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.media-container iframe {
  width: 80vh;
  height: 40vh;
}

.h1 {
  font-size: 48px;
  font-family: 'Zen Antique', serif;
  text-align: center;
  padding-top: 30px;
}

/* Landing */
.landing {
  display: flex;
  background-image: url(/img/landing-display.webp);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  background-origin: border-box;
  height: 100vh;
  width: cover;
  color: white;
}



.nav {
  width: 100%;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Zen Antique', serif;
}

.nav:hover {
  background-color:  #2E2D2D;
  transition-delay: 100ms;
  transition-duration: 200ms;
}

.nav h2 {
  width: 60%;
  padding-left: 10%;
  font-size: 24px;
}

.nav h2 a {
  font-size: 48px;
}

.nav ul {
  width: 40%;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  padding-right: 10%;
  font-size: 24px;
}

.nav ul li a {
  text-shadow: 0px 1px #2E2D2D;
  color: white;
  text-decoration: none;
  padding: 2px 4px;
}
.nav ul li a:hover {
  border-radius: 18px;
    color: white;
    background-color: #2E2D2D;
    transition-duration: 100ms;
    border: 2px solid white;
}

/* About Section*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Zen Antique', serif;
  background-image: url(/img/grandlake-display.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2E2D2D;
  height: 100vh;
  width: 100%;
  color: white;
}

.about h2 {
  padding-top: 12%;
  font-size: 32px;
}
.about p {
  width: 50%;
  padding-top: 3%;
  line-height: 22px;
  font-size: 20px;
}


/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #2E2D2D;
  color: white;
}
.footer a {
  color: white;
}
.footer h3 {
  width: 50%;
  font-size: 14px;
  padding-left: 14px;
  color: white;
}

.footer h3 a {
  color: white;
}
.footer ul {
  margin-right: 10px;
}
.footer img {
  height: 20px;
  width: auto;
}

/* Contact Other Styling in reset.css at bottom*/
.form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
/*Mobile*/

@media (max-width: 767px) {
  .landing {
    display: flex;
    background-image: url(/img/landing-display.webp);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    height: 100vh;
    width: cover;
    color: white;
  }
  .nav {
    width: 100%;
    height: 120px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Zen Antique', serif;

  }

  .nav h2 {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-left: 0;
   }
  .nav ul {
    width: 100%;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-right: 0;
    font-size: 22px;
    text-align: center;
  }

  .headshot-section {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .media-section {
      flex-direction: column;
  }
.media-container iframe {
  width: 100%;
  height: 120%;
}

 .home-link {
   display: none;
 }

}
